* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: #fff;
    height: 60px;
}

.header h2 {
    flex: 2;
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 50px; 
}

li a {
    text-decoration: none;
    color: #fff;
}

