* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    height: 60px;
}

header h2 {
    color: #f9faf8;
    font-size: 24px;
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 50px; 
}

li a {
    text-decoration: none;
    color: #e5e7eb;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 5% 0 5% 0;
}

/* General style for all buttons */
button {
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3882f6;
    color: #fff;
    transition: .2s;
}
button:hover {
    background-color: #0b58d3;
}

nav img {
    width: 500px;
    height: auto;
}

.hero {
    width: 680px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    width: 600px;
}

.hero button {
    margin-top: 2%;
    width: 110px;
    border: none;
}

#pricing {
    padding: 3% 0 5% 0;
}

#pricing h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.cards {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 5px;
    border: 2px solid  #3882f6;
    padding: 2%;
    transition: .2s;
}

.card:hover {
    background-color: #f2f2f2;
}

.card h3 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 5%;
}

.card .question {
    font-size: 18px;
    text-align: center;
    padding-top: 2%;
}

.card .feature {
    padding: 5% 0 5% 0;
    font-weight: 300;
    font-size: 17px;
    text-align: center;
}

.card button {
    align-self: center;
    margin-top: 5%;
    width: 250px;
    border: none;
}

#reviews {
    padding: 3% 0 3% 0;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.review {
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    font-size: 36px;
    width: 800px;
}

.review-name {
    padding: 1% 0 0 20%;
    font-size: 24px;
    font-weight: 500;
}

#cta {
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: center;
}

.cta-card {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    border-radius: 5px;
    width: 800px;
    padding: 2%;
}

.cta-content {
    color: #f9faf8;
}

.cta-content h3 {
    font-size: 20px;
    font-weight: 500;
}

.cta-content p {
    font-weight: 300;
    font-size: 18px;
}

.btn {
    align-self: center;

}

.btn button {
    width: 120px;
    border: 2px solid #f9faf8;
}

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 3% 0 3% 0;
    text-align: center;
    background-color: #1f2937;
    font-size: 18px;
}

footer p {
    color: #f9faf8;
}

footer a {
    color: #f9faf8;
}